@model Demo.Controllers.Persona
@{
    ViewBag.Title = "Home Page";
}

@Html.ActionLink("Mi about", "About", new {edad=48 }, new { @class = "btn btn-danger" })

@*@@Html.Display("Persona")
@Html.Editor("Persona")*@

@using (Html.BeginForm())
{@* <!--  <div>
        @Html.LabelFor(Model => Model.Nombre)
        @Html.EditorFor(Model => Model.Nombre)
    </div>
    <div>
        @Html.LabelFor(Model => Model.Edad)
        @Html.EditorFor(Model => Model.Edad)
    </div>
    <div>

        @Html.LabelFor(Model => Model.Empleado)
        @Html.EditorFor(Model => Model.Empleado)
    </div>
    <div>
        @Html.LabelFor(Model => Model.Nacimiento)
        @Html.EditorFor(Model => Model.Nacimiento)
    </div>-->*@
        @Html.EditorForModel();
    <input type="submit"  value="Enviar" class="btn-block" />
    

}

